.wrapper {
  display: block;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px black;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 50px auto;
}
.main_form {
  margin-bottom: 20px;
}
.results {
  text-align: left;
}